---
title: Recommendations
permalink: /recommendations/index.html
description: Test.
date: "Last Modified"
layout: page
---

<div data-layout="50-50" class="grid">

<custom-card>
<p slot="content">"If you need someone who can bridge the gap between business requirements and great UX, Dylan is the person to hire. He has a rare ability to balance what a company needs to achieve with what the user actually wants to do. He understands the bottom line and consistently finds ways to simplify the product experience while still hitting strategic goals. I’d work with Dylan again in a heartbeat."</p>
<footer slot="footer">Caitlyn Bruns, Senior Manager at Ancestry</footer>
</custom-card>

<custom-card>
<p slot="content">"I had the pleasure of working with Dylan while he supported the US editorial team at Pinterest with his sharp wit, punchy puns and strategic mindset. Dylan's uncanny ability to craft sharp copy at the drop of a pin (no pun intended) across a wide range of subjects made him an invaluable member of the editorial team."</p>
<footer slot="footer">Nicholas Thompson, Editorial Program Manager at Pinterest</footer>
</custom-card>

<custom-card>
<p slot="content">"[Dylan] consistently provided candid, honest input on critical projects, shaping thought leadership content that elevated industry conversations while keeping the customer experience top-of-mind. Lastly, his creativity never ceased to surprise me. His ability to bring creative content to life throughout the brand experience makes him a true asset to any marketing team. I truly hope I get the opportunity to work with Dylan again."</p>
<footer slot="footer">Kit Carroll, Senior Marketing Manager, Group Benefits at Independence Pet Group</footer>
</custom-card>

<custom-card>
<p slot="content">"Altogether, Dylan is one of the reasons I love my job—he's never short on creative ideas, puns, or freelancer expectations. He makes my job easier, and anyone would be lucky to work with him."</p>
<footer slot="footer">Sydni Rubio, Content Marketing Manager at Inflow</footer>
</custom-card>

</div>
